<main>
   <h1 class="text-center text-muted text-capitalize">Hello world to all</h1>
   <h2 class="text-end text-uppercase">Hello world2</h2>
   <h3 class="text-lowercase">Hello world3</h3>

   <hr>

   <div class="display-1 text-muted">Hello world1</div>
   <div class="display-5">Hello world2</div>
   <div class="display-6">Hello world3</div>
   <hr>

   <div class="text-muted text-end">dodatk <span class="display-6">text</span></div>
   <br>
    <div class="card">
        <div class="card-body">
           <button class="btn btn-primary"><span class="text-uppercase">Test button</span></button>

          <a href="#" class="btn btn-success">Test</a>
        </div>
    </div>
   
    <br>
    <div class="card">
        <div class="card-body">
           <div class="text-primary">My text</div>
    <div class="text-muted">My text</div>
        </div>
    </div>
    <br>    
    <div class="card">
        <div class="card-body">
            <button class="btn btn-primary btn-lg">Додати</button>
            <button class="btn btn-outline-secondary btn-sm">Редагувати</button>    
            <button class="btn btn-success ">Зберегти</button>
            <button class="btn btn-outline-danger btn-sm">Видалити</button>
        </div>
    </div>
   
    <br>
    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>
    <hr>
    <p class="text-xl-end">Start aligned text on all viewport sizes.</p>
</main>