<div>
    {{#with main}}
        <main>
            
                    {{>title data=title big=true}}
                    
            <section>
                
                <ul class="ps-5">
                    {{#each colleges}}

                        <li>
                            {{name}}
                            {{#unless isEnd}}(ще в процесі){{/unless}}
                        </li>
                        
                    {{/each}}
                </ul>

            </section>
            
            {{>title data="My certificates" big=false}}           

            <section>
                <ul class="ps-5">
                    {{#each certificates}}
                        <li>
                            {{name}} ({{id}})
                        </li>
                    {{/each}}
                </ul>
            </section>
        </main>     
    {{/with}}
</div>